In [33]:
import numpy as np
import pandas as pd

In [34]:
data1=pd.read_csv(r"C:\Users\user\Downloads\imdb_anime (1).csv")

In [35]:
data1.head()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN

In [36]:
datac=data1.copy

In [38]:
data1.shape

(45717, 13)

In [39]:
data1

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [41]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      25009 non-null  object
 3   Number of Votes  25009 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            25009 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [42]:
data1.fillna({"Title":"no title","Genre":"no genre","User Rating":0,"Number of Votes":0,"Runtime":"10","Year":0,"Summary":"no summary","Stars":"no stars","Certificate":"no certificate","Metascore":0,"Gross":10,"Episode":0,"Episode Title":"no"},inplace=True)

In [43]:
data1.head(1)

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no

In [45]:
data1.replace({"User Rating":{"User Rating":0},"Number of Votes":{"Number of Votes":0},"Runtime":{"Runtime":"10"},"Metascore":{"Metascore":0},"Gross":{"Gross":10},"Episode":{"Episode":0}},inplace=True)

In [47]:
data1=data1.astype({"User Rating":float,"Metascore":int,"Gross":int,"Episode":int,"Year":str})

In [50]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
data1["Runtime"]=data1["Runtime"].map(func).map(f1).map(f)

In [51]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
def f2(x):
    return str(x)
data1["Number of Votes"]=data1["Number of Votes"].map(f2).map(func).map(f1).map(f)

In [52]:
data1.head()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,187689,24,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,28895,99,(2023),The film follows the Turtle brothers as they w...,no stars,PG,74,28895,0,no
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,189108,92,(2023),A plumber named Mario travels through an under...,no stars,PG,46,189108,0,no
3,Attack on Titan,"Animation, Action, Adventure",9.1,434457,24,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,0,434457,0,no
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,82909,24,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,no

In [53]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  float64
 3   Number of Votes  45717 non-null  int64
 4   Runtime          45717 non-null  int64
 5   Year             45717 non-null  object
 6   Summary          45717 non-null  object
 7   Stars            45717 non-null  object
 8   Certificate      45717 non-null  object
 9   Metascore        45717 non-null  int32
 10  Gross            45717 non-null  int32
 11  Episode          45717 non-null  int32
 12  Episode Title    45717 non-null  object
dtypes: float64(1), int32(3), int64(2), object(7)
memory usage: 4.0+ MB

In [58]:
#1. How many unique animes  are there
x=data1["Title"].unique().shape
print(x[0],"unique animies are there")

9851 unique animies are there

In [64]:
#2>which anime has the highest user rating?
x=data1["User Rating"].max()
y=data1.loc[data1["User Rating"]==x,["Title","User Rating"]]
y

                               Title  User Rating
13656                    Idaten Jump          9.9
17874                   Vinland Saga          9.9
22753                Attack on Titan          9.9
34677                Hunter x Hunter          9.9
39614  Legend of the Galactic Heroes          9.9
45689                Attack on Titan          9.9

In [65]:
#3. which animes having the ratings between 7.0 to 9 ?
x1=data1.loc[(data1["User Rating"]>=7.0) & (data1["User Rating"]<=9),["Title"]]
x1

                                             Title
0                                        One Piece
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
4                                   Jujutsu Kaisen
6                   Demon Slayer: Kimetsu no Yaiba
...                                            ...
45709               Demon Slayer: Kimetsu no Yaiba
45710               Demon Slayer: Kimetsu no Yaiba
45711               Demon Slayer: Kimetsu no Yaiba
45712               Demon Slayer: Kimetsu no Yaiba
45713               Demon Slayer: Kimetsu no Yaiba

[15655 rows x 1 columns]

In [67]:
#4. which anime has highest and lowest runtime?

x=data1["Runtime"]
print("these has highest runtime")
y=x.max()
high=data1.loc[x==y,["Title"]]
print(high)
print()
print("*"*40)
print("these has lowest runtime")
z=x.min()
low=data1.loc[x==z,["Title"]]
print(low)

these has highest runtime
                           Title
2798  The Wonderful Wizard of Oz

****************************************
these has lowest runtime
                            Title
2809                   Ani*Kuri15
3588                Henkei Shoujo
3708   Gloomy the Naughty Grizzly
4548                      Usavich
4792                 Tokino Kousa
...                           ...
23772  Gloomy the Naughty Grizzly
23773  Gloomy the Naughty Grizzly
23774  Gloomy the Naughty Grizzly
23775  Gloomy the Naughty Grizzly
33433                  Ani*Kuri15

[149 rows x 1 columns]

In [69]:
#5. what is the run time difference betwwen "ONE PIECE " and "SUPER MARIO BROS MOVIE"?

op=data1.loc[data1["Title"]=="One Piece",["Runtime"]].sum()
smbm=data1.loc[data1["Title"]=="The Super Mario Bros. Movie",["Runtime"]].sum()
print(op-smbm,"is the run time difference between ONE PIECE and SUPER MARIO BROS MOVIE")

Runtime    11249
dtype: int64 is the run time difference between ONE PIECE and SUPER MARIO BROS MOVIE

In [70]:
#6. which is the oldest anime?
def func(x):
    return x.replace("(","")
def f1(x):
     return x.replace(")","")
def f(x):
    return str(x)
a=data1["Year"].map(f).map(f1).map(func)
#a=pd.to_datetime(datac["Year"])

In [71]:
#7. what are the animes released in year 2023?

def sub(s2):
    s1="2023"
    if(len(s2)<=6):
        if s1 in s2:
            return True
        return False
    return False
a=data1["Year"].map(sub)
b=a.values
c=data1[b]
c[["Title"]]

                                             Title
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
13                           The Boy and the Heron
21                    Ruby Gillman, Teenage Kraken
42                     Resident Evil: Death Island
...                                            ...
7965                                 Yomawari Neko
8558          Girls und Panzer das Finale: Part IV
8605                        Jinzô Mahô Shôjo Kaini
8840                             The Dog & The Boy
10314                           The Floating World

[105 rows x 1 columns]

In [77]:
c

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,187689,24,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,28895,99,(2023),The film follows the Turtle brothers as they w...,no stars,PG,74,28895,0,no
3,Attack on Titan,"Animation, Action, Adventure",9.1,434457,24,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,0,434457,0,no
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,82909,24,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,no
5,Bleach: Thousand-Year Blood War,"Animation, Action, Adventure",9.1,28587,24,(2022– ),The peace is suddenly broken when warning sire...,"Johnny Yong Bosch,Masakazu Morita,Stephanie Sh...",TV-MA,0,28587,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45710,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",8.4,3401,24,(2019– ),"Two demons, Tamayo and Yushiro come to Tanjiro...",no stars,TV-MA,0,3401,1,Temari Demon and Arrow Demon
45711,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",8.4,3375,24,(2019– ),With Tamayo coming to Nezuko's aid the battle ...,no stars,TV-MA,0,3375,1,Together Forever
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,3432,24,(2019– ),Tanjiro heads to his next location southeast; ...,no stars,TV-14,0,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,3309,24,(2019– ),Tanjiro gets separated from Zenitsu when he en...,no stars,TV-MA,0,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,2743,10,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,0,2743,1,Time for Farewell! Pudding's One Last Request!

In [78]:
#8. what is the average user rating of all the animes whose genre is action.


def sub(s2):
    s1="Action"
    if s1 in s2:
        return True
    return False

a=data1["Genre"].map(sub)
b=a.values
c=data1[b]
c["User Rating"].mean()

5.439916306053545

In [79]:
#9.which anime has the least gross price?
least=data1["Gross"].min()
a=data1.loc[data1["Gross"]==least,["Title","Gross"]]
print("THESE ANIMES HAS THE LEAST GROSS")
a

THESE ANIMES HAS THE LEAST GROSS

                                                   Title  Gross
3233                                          Show Time!      5
5620                                   The Peasant Noble      5
5714   Meitantei Conan Magic File 4: Osaka okonomiyak...      5
6142   Fist of the North Star Legennd of Heroes - Spe...      5
6236                                     Shakotan Boogie      5
...                                                  ...    ...
45600                                    Girl Beats Boys      5
45601                                    Girl Beats Boys      5
45602                                    Girl Beats Boys      5
45606                                    Girl Beats Boys      5
45608                                    Girl Beats Boys      5

[168 rows x 2 columns]

In [80]:
#10. which anime has the highest gross price?
highest=data1["Gross"].max()
a=data1.loc[data1["Gross"]==highest,["Title","Gross"]]
print("THESE ANIMES HAS THE HIGHEST GROSS")
a

THESE ANIMES HAS THE HIGHEST GROSS

      Title    Gross
47   WALL·E  1162284
888  WALL·E  1162284

In [81]:
#11. how many animes belongs to PG certificate?
cer=data1.loc[data1["Certificate"]=="PG",["Title"]].shape
print(cer[0],"belongs to PG certificate")

425 belongs to PG certificate

In [82]:
#12. what is the average no.of votes in your dataset.
data1["Number of Votes"].mean()

1632.1920510969662