In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv(r"C:\Users\user\Downloads\cleaned_all_phones.csv")

In [4]:
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-08-18,190.0,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,2023-08-23,190.0,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,...,True,True,False,True,False,False,False,False,False,287.988

In [5]:
data.describe()

,inches,battery,ram(GB),weight(g),storage(GB),price(USD)
count,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000
mean,6.422460,4389.798942,6.683862,187.636243,109.164683,337.847036
std,0.477043,784.607022,2.701433,26.200115,74.436484,266.740821
min,3.800000,1821.000000,1.000000,130.000000,1.000000,40.000000
25%,6.300000,4000.000000,4.000000,175.000000,64.000000,179.997500
50%,6.500000,4500.000000,8.000000,187.000000,128.000000,260.000000
75%,6.670000,5000.000000,8.000000,197.250000,128.000000,400.000000
max,10.400000,7250.000000,24.000000,500.000000,512.000000,2300.000000

In [6]:
#1. how many unique mobile brands are there
len(data["brand"].unique())

13

In [7]:
#2. what is the average RAM in all the mobiles
data["ram(GB)"].mean()

6.6838624338624335

In [8]:
#3. which phone name is having the max battery
data.loc[data["battery"]==data["battery"].max(),["phone_name","battery"]]

    phone_name  battery
573         V6     7250

In [9]:
#4. which phone name is having the max battery
data.loc[data["battery"]==data["battery"].min(),["phone_name","battery"]]

           phone_name  battery
62           iPhone 8     1821
536  iPhone SE (2020)     1821

In [10]:
#5. what is the max battery given by Huawei
data.loc[((data["brand"]=="Huawei")& (data["battery"]==data["battery"])),["battery"]].max()

battery    7000
dtype: int64

In [11]:
#6. which ph brand has the min RAM
data.loc[data["ram(GB)"]==data["ram(GB)"].min(),["brand","ram(GB)"]]

       brand  ram(GB)
27    Huawei        1
28   Samsung        1
69   Samsung        1
133   Huawei        1
182  Samsung        1
230  Samsung        1
236   Huawei        1
244   Xiaomi        1
304  Samsung        1
363       LG        1
550  Samsung        1

In [12]:
#7. which is the oldest phone announced also with dates of announcements
data.loc[data["announcement_date"]==data["announcement_date"].min(),["phone_name","announcement_date"]]

     phone_name announcement_date
0  Y6II Compact        2016-09-01

In [13]:
#8. how many phones has android 7.0 as their operating system
data.loc[data["os"]=="Android 7.0",["phone_name"]].count()

phone_name    33
dtype: int64

In [14]:
#9. which brand is having least no.of phones produced
data.loc[data["phone_name"]==data["phone_name"].count(),["phone_name"]]

Empty DataFrame
Columns: [phone_name]
Index: []

In [15]:
#10. give me phone name and brand name having the costliest phone
data.loc[data["price(USD)"]==data["phone_name"].max(),["phone_name","brand","price(USD)"]]

Empty DataFrame
Columns: [phone_name, brand, price(USD)]
Index: []

In [16]:
#11. give me phone name and brand name having the cheapest phone
data.loc[data["price(USD)"]==data["phone_name"].min(),["phone_name","brand","price(USD)"]]

Empty DataFrame
Columns: [phone_name, brand, price(USD)]
Index: []

In [17]:
#12. how many phones supports (i)4k (ii)8k video (iii)2k video
data.loc[data["video_4K"]==True,["phone_name"]].count()

phone_name    801
dtype: int64

In [18]:
data.loc[data["video_8K"]==True,["phone_name"]].count()

phone_name    86
dtype: int64